<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> EDA. 

**Nombres:** Bryan Azahel Juárez Pineda, Juan Pablo Ruiz Magaña

**Fecha:** 19 de marzo del 2021.

**Expediente** : 722176. 721093.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**:https://github.com/JuanPablo2019/Proyecto_modulo1.git

# Proyecto TEMA-2

In [1]:
import pandas as pd
from CDIN import CDIN as eda #librería de limpieza de datos
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

### EDA.

Comenzamos visualizando nuestra base de datos original.

In [2]:
data = pd.read_csv('previous_app.csv')

In [3]:
data.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(1670214, 37)

>Observamos que la base de datos tiene 1'670,214 filas y 37 columnas.

## A continuación observaremos un reporte de calidad de datos.

In [5]:
eda.dqr(data)

,Nombre,data_types,missing_values,present_values,unique_values,min,max
SK_ID_PREV,SK_ID_PREV,int64,0,1670214,1670214,1000001,2845382
SK_ID_CURR,SK_ID_CURR,int64,0,1670214,338857,100001,456255
NAME_CONTRACT_TYPE,NAME_CONTRACT_TYPE,object,0,1670214,4,Cash loans,XNA
AMT_ANNUITY,AMT_ANNUITY,float64,372235,1297979,357959,0,418058
AMT_APPLICATION,AMT_APPLICATION,float64,0,1670214,93885,0,6.90516e+06
AMT_CREDIT,AMT_CREDIT,float64,1,1670213,86803,0,6.90516e+06
AMT_DOWN_PAYMENT,AMT_DOWN_PAYMENT,float64,895844,774370,29278,-0.9,3.06004e+06
AMT_GOODS_PRICE,AMT_GOODS_PRICE,float64,385515,1284699,93885,0,6.90516e+06
WEEKDAY_APPR_PROCESS_START,WEEKDAY_APPR_PROCESS_START,object,0,1670214,7,FRIDAY,WEDNESDAY
HOUR_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,int64,0,1670214,24,0,23
FLAG_LAST_APPL_PER_CONTRACT,FLAG_LAST_APPL_PER_CONTRACT,object,0,1670214,2,N,Y
NFLAG_LAST_APPL_IN_DAY,NFLAG_LAST_APPL_IN_DAY,int64,0,1670214,2,0,1
RATE_DOWN_PAYMENT,RATE_DOWN_PAYMENT,float64,895844,774370,207033,-1.49788e-05,1
RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIMARY,float64,1664263,5951,148,0.0347813,1
RATE_INTEREST_PRIVILEGED,RATE_INTEREST_PRIVILEGED,float64,1664263,5951,25,0.37315,1
NAME_CASH_LOAN_PURPOSE,NAME_CASH_LOAN_PURPOSE,object,0,1670214,25,Building a house or an annex,XNA
NAME_CONTRACT_STATUS,NAME_CONTRACT_STATUS,object,0,1670214,4,Approved,Unused offer
DAYS_DECISION,DAYS_DECISION,int64,0,1670214,2922,-2922,-1
NAME_PAYMENT_TYPE,NAME_PAYMENT_TYPE,object,0,1670214,4,Cash through the bank,XNA
CODE_REJECT_REASON,CODE_REJECT_REASON,object,0,1670214,9,CLIENT,XNA
NAME_TYPE_SUITE,NAME_TYPE_SUITE,object,820405,849809,7,NaN,NaN
NAME_CLIENT_TYPE,NAME_CLIENT_TYPE,object,0,1670214,4,New,XNA
NAME_GOODS_CATEGORY,NAME_GOODS_CATEGORY,object,0,1670214,28,Additional Service,XNA
NAME_PORTFOLIO,NAME_PORTFOLIO,object,0,1670214,5,Cards,XNA
NAME_PRODUCT_TYPE,NAME_PRODUCT_TYPE,object,0,1670214,3,XNA,x-sell
CHANNEL_TYPE,CHANNEL_TYPE,object,0,1670214,8,AP+ (Cash loan),Stone
SELLERPLACE_AREA,SELLERPLACE_AREA,int64,0,1670214,2097,-1,4000000
NAME_SELLER_INDUSTRY,NAME_SELLER_INDUSTRY,object,0,1670214,11,Auto technology,XNA
CNT_PAYMENT,CNT_PAYMENT,float64,372230,1297984,49,0,84
NAME_YIELD_GROUP,NAME_YIELD_GROUP,object,0,1670214,5,XNA,middle
PRODUCT_COMBINATION,PRODUCT_COMBINATION,object,346,1669868,17,NaN,NaN
DAYS_FIRST_DRAWING,DAYS_FIRST_DRAWING,float64,673065,997149,2838,-2922,365243
DAYS_FIRST_DUE,DAYS_FIRST_DUE,float64,673065,997149,2892,-2892,365243
DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE_1ST_VERSION,float64,673065,997149,4605,-2801,365243
DAYS_LAST_DUE,DAYS_LAST_DUE,float64,673065,997149,2873,-2889,365243
DAYS_TERMINATION,DAYS_TERMINATION,float64,673065,997149,2830,-2874,365243
NFLAG_INSURED_ON_APPROVAL,NFLAG_INSURED_ON_APPROVAL,float64,673065,997149,2,0,1

>En primera instancia eliminaremos todas aquellas variables que contengan una gran cantidad de missing values. Ya que ante
la ausencia de esta información modelar su comportamiento no sería de gran ayuda para el análisis particular así como las variables binarias, debido a que nuestro objetivo no es clasificar.

>Por otra parte al solo considerar los creditos aprobados filtramos nuestra base de datos.

>Por último eliminamos variables que no son relevantes para nuestro análisis.

In [6]:
data.drop(['AMT_ANNUITY','AMT_DOWN_PAYMENT','AMT_GOODS_PRICE','RATE_DOWN_PAYMENT','RATE_INTEREST_PRIMARY',
           'RATE_INTEREST_PRIVILEGED','NAME_TYPE_SUITE','CNT_PAYMENT','PRODUCT_COMBINATION','DAYS_FIRST_DRAWING',
          'DAYS_FIRST_DUE','DAYS_LAST_DUE_1ST_VERSION','DAYS_LAST_DUE','DAYS_TERMINATION','NFLAG_INSURED_ON_APPROVAL'
          ,'NFLAG_LAST_APPL_IN_DAY','FLAG_LAST_APPL_PER_CONTRACT','PRODUCT_COMBINATION','NAME_YIELD_GROUP',
           'SELLERPLACE_AREA','CODE_REJECT_REASON','HOUR_APPR_PROCESS_START','DAYS_DECISION','NAME_PAYMENT_TYPE',
           'SK_ID_PREV','NAME_PRODUCT_TYPE','NAME_SELLER_INDUSTRY']
          ,axis=1,inplace=True)

In [7]:
data = data[data['NAME_CONTRACT_STATUS']=='Approved']

In [8]:
data.drop(['NAME_CONTRACT_STATUS'],axis=1,inplace=True)

In [14]:
data.to_csv('../SPF/approval_clean.csv',index=False)

In [15]:
data.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_APPLICATION,AMT_CREDIT,WEEKDAY_APPR_PROCESS_START,NAME_CASH_LOAN_PURPOSE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,CHANNEL_TYPE
0,271877,Consumer loans,17145.0,17145.0,SATURDAY,XAP,Repeater,Mobile,POS,Country-wide
1,108129,Cash loans,607500.0,679671.0,THURSDAY,XNA,Repeater,XNA,Cash,Contact center
2,122040,Cash loans,112500.0,136444.5,TUESDAY,XNA,Repeater,XNA,Cash,Credit and cash offices
3,176158,Cash loans,450000.0,470790.0,MONDAY,XNA,Repeater,XNA,Cash,Credit and cash offices
5,199383,Cash loans,315000.0,340573.5,SATURDAY,Everyday expenses,Repeater,XNA,Cash,Credit and cash offices

In [16]:
data.shape

(1036781, 10)

Finalmente nos queda un dataframe con $1'036,781$ filas y $10$ columnas.\
En resumen tenemos:
1. El ID del crédito
2. El monto inicial
3. El monto aprobado
4. El tipo de contrato
5. El día en que se comenzo el tramite
6. La razón principal por la que se pide el crédito
7. El tipo de cliente.
8. Los bienes adquiridos con el capital otorgado.
9. El portafolio al que pertenece el crédito en cuestión.
10. El canal por el cual se tramito.

Con lo cual simularemos el proceso descrito en nuestra definición de proyecto.

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Esteban Jiménez Rodríguez.
</footer>